.page.theme_light {
  --color-hover: #32312D66;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --bg-img: url(../images/cover-image-light.png);
  --display-decorative: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --display-decorative: none;
    --color-hover: #32312D66;
    --color-title: #FFC2E6;
    --color-text: #353430;
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --bg-img: url(../images/cover-image-light.png);
    }
}